In [1]:
'st python test'

'st python test'

In [2]:
"st python test"

'st python test'

In [4]:
str1 = "st python test"

str1

'st python test'

In [5]:
print(str1)

st python test

In [6]:
a = "R"

In [8]:
print("st {} tutorial".format(a))

st R tutorial

In [10]:
a = "Python"
b = "Practice"

In [11]:
print("st {} tutorial {}".format(a,b))

st Python tutorial Practice

In [12]:
# length of the string

len(a)

6

In [13]:
# replace
a.replace("Python","SQL")

'SQL'

In [14]:
x = a.replace("Python","SQL")
x

'SQL'

In [18]:
# indexes(always starts from index 0) or slices
x[2]

# all characters between the indexes
a[3:6]

'hon'

In [19]:
# indexes also support negative 
a[-3]

'h'

In [22]:
# we can also get all indexes from the string
print(a[5:])
print(a[:5])

n
Pytho

In [26]:
# incase if need specific index values
x = "st Python turorial"
x[2:10:2]

' yhn'

In [27]:
# to know the type of the variable
type(x)

str

In [28]:
var1 = 3
type(var1)

int

In [29]:
var2 = 0.06
type(var2)

float